In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("most popular sport in the world 2023.csv", header=0, delimiter=";", index_col='Rank')
df1

,Sport,Estimated Fans,Regional Popularity
Rank,,,
1,Soccer / Association Football,3.5 Billion,"Europe, Africa, Asia, America"
2,Cricket,2.5 Billion,"Asia, Australia, UK"
3,Basketball,2.2 Billion,"US, Canada, China, and the Philippines"
4,Field Hockey,2 Billion,"Europe, Africa, Asia, Australia"
5,Tennis,1 Billion,"Europe, Americas, and Asia"
6,Volleyball,900 Million,"Asia, Europe, Americas, and Australia"
7,Table Tennis,850 Million,"Asia, Europe, Africa, and the Americas"
8,Baseball,500 Million,"US, Japan, Cuba, and the Dominican Republic"
9,American Football / Rugby,410 Million,"USA mainly France, England, New Zealand, South..."
10,Golf,390 Million,"Europe, Asia, America, Canada"

In [19]:
df2 =pd.read_csv("The 30 Most Popular Sports in the World 2023.csv", header=0, delimiter=";", index_col='Rank')
df2

                   Sport Number of fans
Rank
1               Football  4,000,000,000
2             Basketball  3,000,000,000
3                Cricket  2,500,000,000
4                 Hockey  2,200,000,000
5                 Tennis  1,000,000,000
6             Volleyball    900,000,000
7           Table tennis    850,000,000
8     Mixed Martial Arts    550,000,000
9               Baseball    510,000,000
10     American Football    411,000,000
11                 Rugby    405,000,000
12                  Golf    400,000,000
13             Athletics    390,000,000
14             Badminton    381,000,000
15                Boxing    350,000,000
16           Formula One    333,000,000
17                MotoGP    315,000,000
18               Cycling    300,000,000
19              Swimming            NaN
20               Snooker    250,000,000
21              Shooting            NaN
22            Gymnastics            NaN
23              Handball    100,000,000
24             Wrestling     50,000,000
25                Skiing     45,000,000
26          Horse racing     42,000,000
27               Hurling            NaN
28            Pickleball            NaN
29            Water Polo     40,000,000
30               Bowling     30,000,000

In [21]:
df2 = df2.rename(columns={'Number of fans': 'Estimated Fans'})
df2

                   Sport Estimated Fans
Rank
1               Football  4,000,000,000
2             Basketball  3,000,000,000
3                Cricket  2,500,000,000
4                 Hockey  2,200,000,000
5                 Tennis  1,000,000,000
6             Volleyball    900,000,000
7           Table tennis    850,000,000
8     Mixed Martial Arts    550,000,000
9               Baseball    510,000,000
10     American Football    411,000,000
11                 Rugby    405,000,000
12                  Golf    400,000,000
13             Athletics    390,000,000
14             Badminton    381,000,000
15                Boxing    350,000,000
16           Formula One    333,000,000
17                MotoGP    315,000,000
18               Cycling    300,000,000
19              Swimming            NaN
20               Snooker    250,000,000
21              Shooting            NaN
22            Gymnastics            NaN
23              Handball    100,000,000
24             Wrestling     50,000,000
25                Skiing     45,000,000
26          Horse racing     42,000,000
27               Hurling            NaN
28            Pickleball            NaN
29            Water Polo     40,000,000
30               Bowling     30,000,000

In [26]:
df_concatenado= pd.concat([df1, df2])
df_concatenado

,Sport,Estimated Fans,Regional Popularity
Rank,,,
1,Soccer / Association Football,3.5 Billion,"Europe, Africa, Asia, America"
2,Cricket,2.5 Billion,"Asia, Australia, UK"
3,Basketball,2.2 Billion,"US, Canada, China, and the Philippines"
4,Field Hockey,2 Billion,"Europe, Africa, Asia, Australia"
5,Tennis,1 Billion,"Europe, Americas, and Asia"
6,Volleyball,900 Million,"Asia, Europe, Americas, and Australia"
7,Table Tennis,850 Million,"Asia, Europe, Africa, and the Americas"
8,Baseball,500 Million,"US, Japan, Cuba, and the Dominican Republic"
9,American Football / Rugby,410 Million,"USA mainly France, England, New Zealand, South..."
10,Golf,390 Million,"Europe, Asia, America, Canada"
1,Football,"4,000,000,000",NaN
2,Basketball,"3,000,000,000",NaN
3,Cricket,"2,500,000,000",NaN
4,Hockey,"2,200,000,000",NaN
5,Tennis,"1,000,000,000",NaN
6,Volleyball,"900,000,000",NaN
7,Table tennis,"850,000,000",NaN
8,Mixed Martial Arts,"550,000,000",NaN
9,Baseball,"510,000,000",NaN
10,American Football,"411,000,000",NaN
11,Rugby,"405,000,000",NaN
12,Golf,"400,000,000",NaN
13,Athletics,"390,000,000",NaN
14,Badminton,"381,000,000",NaN
15,Boxing,"350,000,000",NaN
16,Formula One,"333,000,000",NaN
17,MotoGP,"315,000,000",NaN
18,Cycling,"300,000,000",NaN
19,Swimming,NaN,NaN
20,Snooker,"250,000,000",NaN
21,Shooting,NaN,NaN
22,Gymnastics,NaN,NaN
23,Handball,"100,000,000",NaN
24,Wrestling,"50,000,000",NaN
25,Skiing,"45,000,000",NaN
26,Horse racing,"42,000,000",NaN
27,Hurling,NaN,NaN
28,Pickleball,NaN,NaN
29,Water Polo,"40,000,000",NaN
30,Bowling,"30,000,000",NaN

In [39]:
df3 =pd.read_csv("Sport by country.csv", header=0, delimiter=";")
df3

,Sport,Argentina,Australia,Austria,Belgium,Brazil,Canada,China,Colombia,Denmark,...,Spain,Sweden,Switzerland,Taiwan,Thailand,Turkey,UAE,UK,USA,Vietnam
0,Am. football,7,7,11,2,11,21,4,10,9,...,5,4,6,6,10,7,6,7,51,8
1,Athletics,16,12,12,17,20,11,19,24,16,...,19,25,19,12,20,27,19,22,10,21
2,Badminton,0,4,2,2,2,4,31,1,13,...,3,3,2,20,31,5,14,4,2,32
3,Baseball,5,5,3,2,6,24,6,16,3,...,4,2,3,33,6,4,6,4,38,6
4,Basketball,28,15,7,9,29,21,41,32,6,...,33,10,7,36,24,51,33,8,35,23
5,Boxing,28,12,10,8,23,14,14,18,12,...,9,9,11,7,31,29,32,18,15,20
6,Cricket,0,29,1,1,1,4,3,1,1,...,1,2,1,1,3,2,35,15,2,2
7,Cycling,12,12,16,27,19,11,28,57,26,...,25,11,15,20,30,32,19,18,10,33
8,Soccer,67,40,52,52,76,34,53,75,46,...,65,51,55,20,72,76,64,54,31,79
9,Golf,7,12,5,4,7,14,12,8,7,...,5,11,5,8,14,9,9,14,16,11
10,Gymnastics,17,11,5,10,29,12,21,27,8,...,16,8,8,16,18,17,13,13,18,14
11,Ice hockey,3,5,12,4,5,42,4,4,9,...,3,33,23,3,4,6,2,4,21,4
12,Martial arts,18,10,10,8,27,13,14,19,7,...,9,9,9,11,25,27,20,9,12,29
13,Motor sports,23,18,26,14,26,15,16,23,20,...,29,15,21,14,27,30,26,24,14,25
14,Rugby,21,23,3,6,4,5,4,5,2,...,5,3,6,3,4,4,5,23,3,5
15,Surfing,5,9,3,4,15,5,11,4,2,...,4,3,5,6,6,7,7,4,6,4
16,Swimming,18,23,14,11,35,16,42,33,14,...,21,16,14,23,31,43,29,17,16,41
17,Table tennis,3,4,4,3,7,3,30,7,4,...,4,6,3,12,13,15,10,4,3,14
18,Tennis,41,31,30,27,20,17,24,31,19,...,38,15,34,20,29,33,27,30,16,25
19,Volleyball,17,4,7,7,48,7,17,18,3,...,6,5,7,13,50,36,15,3,8,28
20,Winter sports,9,11,44,12,14,16,13,9,13,...,9,24,33,8,7,21,7,13,14,9

In [43]:
df4 =pd.read_csv("watched on TV.csv", header=0, delimiter=";",index_col='Sport')
df4

                             % watched on TV  Unnamed: 2  Unnamed: 3
Sport
Soccer                                  0.56         NaN         NaN
Swimming                                0.31         NaN         NaN
Basketball                              0.29         NaN         NaN
Tennis                                  0.24         NaN         NaN
Cycling                                 0.23         NaN         NaN
Motor sports                            0.21         NaN         NaN
Badminton                               0.19         NaN         NaN
Athletics                               0.18         NaN         NaN
Boxing                                  0.18         NaN         NaN
Gymnastics                              0.18         NaN         NaN
Volleyball                              0.17         NaN         NaN
Martial arts                            0.17         NaN         NaN
Table tennis                            0.15         NaN         NaN
Winter sports (e.g. skiing)             0.13         NaN         NaN
Cricket                                 0.12         NaN         NaN
Baseball                                0.11         NaN         NaN
American football                       0.11         NaN         NaN
Golf                                    0.10         NaN         NaN
Long-distance running                   0.10         NaN         NaN
Surfing                                 0.08         NaN         NaN
Ice hockey                              0.07         NaN         NaN
Horse-riding/equestrian                 0.07         NaN         NaN
Rugby                                   0.06         NaN         NaN
Sailing                                 0.05         NaN         NaN
Triathlon                               0.05         NaN         NaN
Rowing                                  0.05         NaN         NaN
Field hockey                            0.03         NaN         NaN
Squash                                  0.03         NaN         NaN

In [44]:
df4 = df4.drop('Unnamed: 2', axis=1)
df4

                             % watched on TV  Unnamed: 3
Sport
Soccer                                  0.56         NaN
Swimming                                0.31         NaN
Basketball                              0.29         NaN
Tennis                                  0.24         NaN
Cycling                                 0.23         NaN
Motor sports                            0.21         NaN
Badminton                               0.19         NaN
Athletics                               0.18         NaN
Boxing                                  0.18         NaN
Gymnastics                              0.18         NaN
Volleyball                              0.17         NaN
Martial arts                            0.17         NaN
Table tennis                            0.15         NaN
Winter sports (e.g. skiing)             0.13         NaN
Cricket                                 0.12         NaN
Baseball                                0.11         NaN
American football                       0.11         NaN
Golf                                    0.10         NaN
Long-distance running                   0.10         NaN
Surfing                                 0.08         NaN
Ice hockey                              0.07         NaN
Horse-riding/equestrian                 0.07         NaN
Rugby                                   0.06         NaN
Sailing                                 0.05         NaN
Triathlon                               0.05         NaN
Rowing                                  0.05         NaN
Field hockey                            0.03         NaN
Squash                                  0.03         NaN

In [45]:
df4 = df4.drop('Unnamed: 3', axis=1)
df4

                             % watched on TV
Sport
Soccer                                  0.56
Swimming                                0.31
Basketball                              0.29
Tennis                                  0.24
Cycling                                 0.23
Motor sports                            0.21
Badminton                               0.19
Athletics                               0.18
Boxing                                  0.18
Gymnastics                              0.18
Volleyball                              0.17
Martial arts                            0.17
Table tennis                            0.15
Winter sports (e.g. skiing)             0.13
Cricket                                 0.12
Baseball                                0.11
American football                       0.11
Golf                                    0.10
Long-distance running                   0.10
Surfing                                 0.08
Ice hockey                              0.07
Horse-riding/equestrian                 0.07
Rugby                                   0.06
Sailing                                 0.05
Triathlon                               0.05
Rowing                                  0.05
Field hockey                            0.03
Squash                                  0.03

In [54]:
df_c = pd.merge(df_concatenado, df4, on='Sport', how='outer')
df_c

,Sport,Estimated Fans,Regional Popularity,% watched on TV
0,Soccer / Association Football,NaN,"Europe, Africa, Asia, America",NaN
1,Cricket,NaN,"Asia, Australia, UK",0.12
2,Cricket,2.500000e+09,NaN,0.12
3,Basketball,NaN,"US, Canada, China, and the Philippines",0.29
4,Basketball,3.000000e+09,NaN,0.29
5,Field Hockey,NaN,"Europe, Africa, Asia, Australia",NaN
6,Tennis,NaN,"Europe, Americas, and Asia",0.24
7,Tennis,1.000000e+09,NaN,0.24
8,Volleyball,NaN,"Asia, Europe, Americas, and Australia",0.17
9,Volleyball,9.000000e+08,NaN,0.17
10,Table Tennis,NaN,"Asia, Europe, Africa, and the Americas",NaN
11,Baseball,NaN,"US, Japan, Cuba, and the Dominican Republic",0.11
12,Baseball,5.100000e+08,NaN,0.11
13,American Football / Rugby,NaN,"USA mainly France, England, New Zealand, South...",NaN
14,Golf,NaN,"Europe, Asia, America, Canada",0.10
15,Golf,4.000000e+08,NaN,0.10
16,Football,4.000000e+09,NaN,NaN
17,Hockey,2.200000e+09,NaN,NaN
18,Table tennis,8.500000e+08,NaN,0.15
19,Mixed Martial Arts,5.500000e+08,NaN,NaN
20,American Football,4.110000e+08,NaN,NaN
21,Rugby,4.050000e+08,NaN,0.06
22,Athletics,3.900000e+08,NaN,0.18
23,Badminton,3.810000e+08,NaN,0.19
24,Boxing,3.500000e+08,NaN,0.18
25,Formula One,3.330000e+08,NaN,NaN
26,MotoGP,3.150000e+08,NaN,NaN
27,Cycling,3.000000e+08,NaN,0.23
28,Swimming,2.750000e+08,NaN,0.31
29,Snooker,2.500000e+08,NaN,NaN
30,Shooting,1.750000e+08,NaN,NaN
31,Gymnastics,1.375000e+08,NaN,0.18
32,Handball,1.000000e+08,NaN,NaN
33,Wrestling,5.000000e+07,NaN,NaN
34,Skiing,4.500000e+07,NaN,NaN
35,Horse racing,4.200000e+07,NaN,NaN
36,Hurling,4.100000e+07,NaN,NaN
37,Pickleball,4.050000e+07,NaN,NaN
38,Water Polo,4.000000e+07,NaN,NaN
39,Bowling,3.000000e+07,NaN,NaN
40,Soccer,NaN,NaN,0.56
41,Motor sports,NaN,NaN,0.21
42,Martial arts,NaN,NaN,0.17
43,Winter sports (e.g. skiing),NaN,NaN,0.13
44,American football,NaN,NaN,0.11
45,Long-distance running,NaN,NaN,0.10
46,Surfing,NaN,NaN,0.08
47,Ice hockey,NaN,NaN,0.07
48,Horse-riding/equestrian,NaN,NaN,0.07
49,Sailing,NaN,NaN,0.05
50,Triathlon,NaN,NaN,0.05
51,Rowing,NaN,NaN,0.05
52,Field hockey,NaN,NaN,0.03
53,Squash,NaN,NaN,0.03

In [61]:
df_c.to_json('df_final.json', orient='records')

In [62]:
pip install couchdb

Collecting couchdbNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading CouchDB-1.2-py2.py3-none-any.whl.metadata (930 bytes)
Downloading CouchDB-1.2-py2.py3-none-any.whl (67 kB)
   ---------------------------------------- 0.0/68.0 kB ? eta -:--:--
   ------ --------------------------------- 10.2/68.0 kB ? eta -:--:--
   ---------------------------------------- 68.0/68.0 kB 930.9 kB/s eta 0:00:00
Installing collected packages: couchdb
Successfully installed couchdb-1.2

In [64]:
from couchdb import Server
import json
couch = Server('http://estefania:Fhachi116@localhost:5984/')
db = couch['deportes']
with open('df_final.json') as f:
    data = json.load(f)

for doc in data:
    db.save(doc)

In [69]:
import couchdb
import pandas as pd
import json

# Conectar al servidor CouchDB
couch = couchdb.Server('http://estefania:Fhachi116@localhost:5984')

# Seleccionar la base de datos
db = couch['deportes']

# Leer todos los documentos (excluyendo metadatos)
rows = db.view('_all_docs', include_docs=True)

# Extraer solo los datos de los documentos
data = [row['doc'] for row in rows]

# Convertir los datos a un DataFrame de pandas
df = pd.DataFrame(data)

# Exportar el DataFrame a un archivo JSON
df.to_json('datos2.json', orient='records')