In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\estef\appdata\local\programs\python\python312\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\estef\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\estef\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\estef\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\estef\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\estef\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("most popular sport in the world 2023.csv", header=0, delimiter=";")
df1

,Rank,Sport,Estimated Fans,Regional Popularity
0,1,Soccer / Association Football,3.5 Billion,"Europe, Africa, Asia, America"
1,2,Cricket,2.5 Billion,"Asia, Australia, UK"
2,3,Basketball,2.2 Billion,"US, Canada, China, and the Philippines"
3,4,Field Hockey,2 Billion,"Europe, Africa, Asia, Australia"
4,5,Tennis,1 Billion,"Europe, Americas, and Asia"
5,6,Volleyball,900 Million,"Asia, Europe, Americas, and Australia"
6,7,Table Tennis,850 Million,"Asia, Europe, Africa, and the Americas"
7,8,Baseball,500 Million,"US, Japan, Cuba, and the Dominican Republic"
8,9,American Football / Rugby,410 Million,"USA mainly France, England, New Zealand, South..."
9,10,Golf,390 Million,"Europe, Asia, America, Canada"

In [3]:
df3 =pd.read_csv("The 30 Most Popular Sports in the World 2023.csv", header=0, delimiter=";", index_col='Rank')
df3

                   Sport Number of fans
Rank
1               Football  4,000,000,000
2             Basketball  3,000,000,000
3                Cricket  2,500,000,000
4                 Hockey  2,200,000,000
5                 Tennis  1,000,000,000
6             Volleyball    900,000,000
7           Table tennis    850,000,000
8     Mixed Martial Arts    550,000,000
9               Baseball    510,000,000
10     American Football    411,000,000
11                 Rugby    405,000,000
12                  Golf    400,000,000
13             Athletics    390,000,000
14             Badminton    381,000,000
15                Boxing    350,000,000
16           Formula One    333,000,000
17                MotoGP    315,000,000
18               Cycling    300,000,000
19              Swimming            NaN
20               Snooker    250,000,000
21              Shooting            NaN
22            Gymnastics            NaN
23              Handball    100,000,000
24             Wrestling     50,000,000
25                Skiing     45,000,000
26          Horse racing     42,000,000
27               Hurling            NaN
28            Pickleball            NaN
29            Water Polo     40,000,000
30               Bowling     30,000,000

In [4]:

df3['Number of fans'] = df3['Number of fans'].astype(str).str.replace(',', '')


df3['Number of fans']= pd.to_numeric(df3['Number of fans'], errors='coerce')
df3.dtypes

Sport              object
Number of fans    float64
dtype: object

In [7]:
valor1 =df3.at[19-1, 'Number of fans']
valor2=df3.at[19+1, 'Number of fans']

valorpromedio = (valor1+valor2)/2
df3.at[19, 'Number of fans'] = valorpromedio

df3

                   Sport  Number of fans
Rank
1               Football    4.000000e+09
2             Basketball    3.000000e+09
3                Cricket    2.500000e+09
4                 Hockey    2.200000e+09
5                 Tennis    1.000000e+09
6             Volleyball    9.000000e+08
7           Table tennis    8.500000e+08
8     Mixed Martial Arts    5.500000e+08
9               Baseball    5.100000e+08
10     American Football    4.110000e+08
11                 Rugby    4.050000e+08
12                  Golf    4.000000e+08
13             Athletics    3.900000e+08
14             Badminton    3.810000e+08
15                Boxing    3.500000e+08
16           Formula One    3.330000e+08
17                MotoGP    3.150000e+08
18               Cycling    3.000000e+08
19              Swimming    2.750000e+08
20               Snooker    2.500000e+08
21              Shooting             NaN
22            Gymnastics             NaN
23              Handball    1.000000e+08
24             Wrestling    5.000000e+07
25                Skiing    4.500000e+07
26          Horse racing    4.200000e+07
27               Hurling             NaN
28            Pickleball             NaN
29            Water Polo    4.000000e+07
30               Bowling    3.000000e+07

In [8]:
valor3 =df3.at[21-1, 'Number of fans']
valor4=df3.at[21+2, 'Number of fans']

valorpromedio = (valor3+valor4)/2
df3.at[21, 'Number of fans'] = valorpromedio

df3

                   Sport  Number of fans
Rank
1               Football    4.000000e+09
2             Basketball    3.000000e+09
3                Cricket    2.500000e+09
4                 Hockey    2.200000e+09
5                 Tennis    1.000000e+09
6             Volleyball    9.000000e+08
7           Table tennis    8.500000e+08
8     Mixed Martial Arts    5.500000e+08
9               Baseball    5.100000e+08
10     American Football    4.110000e+08
11                 Rugby    4.050000e+08
12                  Golf    4.000000e+08
13             Athletics    3.900000e+08
14             Badminton    3.810000e+08
15                Boxing    3.500000e+08
16           Formula One    3.330000e+08
17                MotoGP    3.150000e+08
18               Cycling    3.000000e+08
19              Swimming    2.750000e+08
20               Snooker    2.500000e+08
21              Shooting    1.750000e+08
22            Gymnastics             NaN
23              Handball    1.000000e+08
24             Wrestling    5.000000e+07
25                Skiing    4.500000e+07
26          Horse racing    4.200000e+07
27               Hurling             NaN
28            Pickleball             NaN
29            Water Polo    4.000000e+07
30               Bowling    3.000000e+07

In [9]:
valor3 =df3.at[22-1, 'Number of fans']
valor4=df3.at[22+1, 'Number of fans']

valorpromedio = (valor3+valor4)/2
df3.at[22, 'Number of fans'] = valorpromedio

df3

                   Sport  Number of fans
Rank
1               Football    4.000000e+09
2             Basketball    3.000000e+09
3                Cricket    2.500000e+09
4                 Hockey    2.200000e+09
5                 Tennis    1.000000e+09
6             Volleyball    9.000000e+08
7           Table tennis    8.500000e+08
8     Mixed Martial Arts    5.500000e+08
9               Baseball    5.100000e+08
10     American Football    4.110000e+08
11                 Rugby    4.050000e+08
12                  Golf    4.000000e+08
13             Athletics    3.900000e+08
14             Badminton    3.810000e+08
15                Boxing    3.500000e+08
16           Formula One    3.330000e+08
17                MotoGP    3.150000e+08
18               Cycling    3.000000e+08
19              Swimming    2.750000e+08
20               Snooker    2.500000e+08
21              Shooting    1.750000e+08
22            Gymnastics    1.375000e+08
23              Handball    1.000000e+08
24             Wrestling    5.000000e+07
25                Skiing    4.500000e+07
26          Horse racing    4.200000e+07
27               Hurling             NaN
28            Pickleball             NaN
29            Water Polo    4.000000e+07
30               Bowling    3.000000e+07

In [10]:
valor3 =df3.at[27-1, 'Number of fans']
valor4=df3.at[27+2, 'Number of fans']

valorpromedio = (valor3+valor4)/2
df3.at[27, 'Number of fans'] = valorpromedio

df3

                   Sport  Number of fans
Rank
1               Football    4.000000e+09
2             Basketball    3.000000e+09
3                Cricket    2.500000e+09
4                 Hockey    2.200000e+09
5                 Tennis    1.000000e+09
6             Volleyball    9.000000e+08
7           Table tennis    8.500000e+08
8     Mixed Martial Arts    5.500000e+08
9               Baseball    5.100000e+08
10     American Football    4.110000e+08
11                 Rugby    4.050000e+08
12                  Golf    4.000000e+08
13             Athletics    3.900000e+08
14             Badminton    3.810000e+08
15                Boxing    3.500000e+08
16           Formula One    3.330000e+08
17                MotoGP    3.150000e+08
18               Cycling    3.000000e+08
19              Swimming    2.750000e+08
20               Snooker    2.500000e+08
21              Shooting    1.750000e+08
22            Gymnastics    1.375000e+08
23              Handball    1.000000e+08
24             Wrestling    5.000000e+07
25                Skiing    4.500000e+07
26          Horse racing    4.200000e+07
27               Hurling    4.100000e+07
28            Pickleball             NaN
29            Water Polo    4.000000e+07
30               Bowling    3.000000e+07

In [11]:
valor3 =df3.at[28-1, 'Number of fans']
valor4=df3.at[28+1, 'Number of fans']

valorpromedio = (valor3+valor4)/2
df3.at[28, 'Number of fans'] = valorpromedio

df3

                   Sport  Number of fans
Rank
1               Football    4.000000e+09
2             Basketball    3.000000e+09
3                Cricket    2.500000e+09
4                 Hockey    2.200000e+09
5                 Tennis    1.000000e+09
6             Volleyball    9.000000e+08
7           Table tennis    8.500000e+08
8     Mixed Martial Arts    5.500000e+08
9               Baseball    5.100000e+08
10     American Football    4.110000e+08
11                 Rugby    4.050000e+08
12                  Golf    4.000000e+08
13             Athletics    3.900000e+08
14             Badminton    3.810000e+08
15                Boxing    3.500000e+08
16           Formula One    3.330000e+08
17                MotoGP    3.150000e+08
18               Cycling    3.000000e+08
19              Swimming    2.750000e+08
20               Snooker    2.500000e+08
21              Shooting    1.750000e+08
22            Gymnastics    1.375000e+08
23              Handball    1.000000e+08
24             Wrestling    5.000000e+07
25                Skiing    4.500000e+07
26          Horse racing    4.200000e+07
27               Hurling    4.100000e+07
28            Pickleball    4.050000e+07
29            Water Polo    4.000000e+07
30               Bowling    3.000000e+07

In [12]:
df3

                   Sport  Number of fans
Rank
1               Football    4.000000e+09
2             Basketball    3.000000e+09
3                Cricket    2.500000e+09
4                 Hockey    2.200000e+09
5                 Tennis    1.000000e+09
6             Volleyball    9.000000e+08
7           Table tennis    8.500000e+08
8     Mixed Martial Arts    5.500000e+08
9               Baseball    5.100000e+08
10     American Football    4.110000e+08
11                 Rugby    4.050000e+08
12                  Golf    4.000000e+08
13             Athletics    3.900000e+08
14             Badminton    3.810000e+08
15                Boxing    3.500000e+08
16           Formula One    3.330000e+08
17                MotoGP    3.150000e+08
18               Cycling    3.000000e+08
19              Swimming    2.750000e+08
20               Snooker    2.500000e+08
21              Shooting    1.750000e+08
22            Gymnastics    1.375000e+08
23              Handball    1.000000e+08
24             Wrestling    5.000000e+07
25                Skiing    4.500000e+07
26          Horse racing    4.200000e+07
27               Hurling    4.100000e+07
28            Pickleball    4.050000e+07
29            Water Polo    4.000000e+07
30               Bowling    3.000000e+07

In [14]:
df4 = pd.read_csv("the most popular sport in each country.csv", header=1, delimiter=";")
df4

,Country,Babbel 2021,Bleacher Report 2008,Most Popular Sports
0,Afghanistan,Cricket,Football (soccer),NaN
1,Albania,Football (soccer),Football (soccer),Football (soccer)
2,Algeria,Football (soccer),Football (soccer),Football (soccer)
3,American Samoa,Football (soccer),Football (soccer),NaN
4,Andorra,Football (soccer),Football (soccer),NaN
...,...,...,...,...
195,Vietnam,NaN,Football (soccer),Tennis
196,Wallis and Futuna,Rugby,Football (soccer),NaN
197,Yemen,Football (soccer),Football (soccer),NaN
198,Zambia,Football (soccer),Football (soccer),NaN
199,Zimbabwe,Football (soccer),Football (soccer),NaN

In [15]:
df5 = pd.read_csv("top 10 most popular sports in the world.csv", header=0, delimiter=";",index_col='Rank')
df5

            Country     Favorite Sport  Population 2022
Rank
1             China         basketball       1448471400
2             India            cricket        106631776
3     United States  American football        334805269
4         Indonesia  football (soccer)        279134505
5          Pakistan            cricket        229448994
6           Nigeria  football (soccer)        216746934
7            Brazil  football (soccer)        215353593
8        Bangladesh            cricket        167885689
9            Russia  football (soccer)        145805947
10           Mexico  football (soccer)        131562772

In [19]:
dataframes_concatenados = pd.concat([df1, df3,df4,df5], axis=0)
dataframes_concatenados = pd.concat([df1, df3,df4,df5], axis=1)
dataframes_concatenados

,Rank,Sport,Estimated Fans,Regional Popularity,Sport,Number of fans,Country,Babbel 2021,Bleacher Report 2008,Most Popular Sports,Country,Favorite Sport,Population 2022
0,1.0,Soccer / Association Football,3.5 Billion,"Europe, Africa, Asia, America",NaN,NaN,Afghanistan,Cricket,Football (soccer),NaN,NaN,NaN,NaN
1,2.0,Cricket,2.5 Billion,"Asia, Australia, UK",Football,4.000000e+09,Albania,Football (soccer),Football (soccer),Football (soccer),China,basketball,1.448471e+09
2,3.0,Basketball,2.2 Billion,"US, Canada, China, and the Philippines",Basketball,3.000000e+09,Algeria,Football (soccer),Football (soccer),Football (soccer),India,cricket,1.066318e+08
3,4.0,Field Hockey,2 Billion,"Europe, Africa, Asia, Australia",Cricket,2.500000e+09,American Samoa,Football (soccer),Football (soccer),NaN,United States,American football,3.348053e+08
4,5.0,Tennis,1 Billion,"Europe, Americas, and Asia",Hockey,2.200000e+09,Andorra,Football (soccer),Football (soccer),NaN,Indonesia,football (soccer),2.791345e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,NaN,NaN,NaN,NaN,NaN,NaN,Vietnam,NaN,Football (soccer),Tennis,NaN,NaN,NaN
196,NaN,NaN,NaN,NaN,NaN,NaN,Wallis and Futuna,Rugby,Football (soccer),NaN,NaN,NaN,NaN
197,NaN,NaN,NaN,NaN,NaN,NaN,Yemen,Football (soccer),Football (soccer),NaN,NaN,NaN,NaN
198,NaN,NaN,NaN,NaN,NaN,NaN,Zambia,Football (soccer),Football (soccer),NaN,NaN,NaN,NaN
199,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe,Football (soccer),Football (soccer),NaN,NaN,NaN,NaN

In [21]:
df_con_info = dataframes_concatenados.fillna("sin información")
df_con_info

,Rank,Sport,Estimated Fans,Regional Popularity,Sport,Number of fans,Country,Babbel 2021,Bleacher Report 2008,Most Popular Sports,Country,Favorite Sport,Population 2022
0,1.0,Soccer / Association Football,3.5 Billion,"Europe, Africa, Asia, America",sin información,sin información,Afghanistan,Cricket,Football (soccer),sin información,sin información,sin información,sin información
1,2.0,Cricket,2.5 Billion,"Asia, Australia, UK",Football,4000000000.0,Albania,Football (soccer),Football (soccer),Football (soccer),China,basketball,1448471400.0
2,3.0,Basketball,2.2 Billion,"US, Canada, China, and the Philippines",Basketball,3000000000.0,Algeria,Football (soccer),Football (soccer),Football (soccer),India,cricket,106631776.0
3,4.0,Field Hockey,2 Billion,"Europe, Africa, Asia, Australia",Cricket,2500000000.0,American Samoa,Football (soccer),Football (soccer),sin información,United States,American football,334805269.0
4,5.0,Tennis,1 Billion,"Europe, Americas, and Asia",Hockey,2200000000.0,Andorra,Football (soccer),Football (soccer),sin información,Indonesia,football (soccer),279134505.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,sin información,sin información,sin información,sin información,sin información,sin información,Vietnam,sin información,Football (soccer),Tennis,sin información,sin información,sin información
196,sin información,sin información,sin información,sin información,sin información,sin información,Wallis and Futuna,Rugby,Football (soccer),sin información,sin información,sin información,sin información
197,sin información,sin información,sin información,sin información,sin información,sin información,Yemen,Football (soccer),Football (soccer),sin información,sin información,sin información,sin información
198,sin información,sin información,sin información,sin información,sin información,sin información,Zambia,Football (soccer),Football (soccer),sin información,sin información,sin información,sin información
199,sin información,sin información,sin información,sin información,sin información,sin información,Zimbabwe,Football (soccer),Football (soccer),sin información,sin información,sin información,sin información

In [22]:
nombre_archivo = "df_final.csv"
df_con_info.to_csv(nombre_archivo, index=False)